.square {
    background: black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 1px;
}

.test {
    color: transparent;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 1px;
    pointer-events: none;
}

.ring {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    margin: auto;
}

#hide {
    background: transparent;
}

.blocked {
    margin: 0 auto;
    width: 186px;
    height: 186px;
    pointer-events: none;
}