.App {
  text-align: center;
}

.wrap {
  width: 126px;
  height: 126px;
}

.square {
  background: gray;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 1px;

}

.test {
  color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ring {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

#hide {
  background: transparent;
}
