.App {
  text-align: center;
  margin-top: 20px;
}

.wrap {
  margin: 0 auto;
  width: 126px;
  height: 126px;
}

.square {
  background: hotpink;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 1px;

}

.test {
  color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ring {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

#hide {
  background: transparent;
}

.reset {
  margin-top: 20px;
}

.win {
  margin-top: 20px;
}
